.green-text {
  /* color: green; */
  /* color: rgb(200, 0, 0); */
}

body {
  /* background-color: yellow; */
  /* background-color: rgb(255, 255, 0); */
}

/* #main-paragraph {
    background-color: blue;
} */

/* h1 {
  text-align: center;
  text-decoration: underline;
} */

p {
  border: 1px solid rgb(255, 0, 0);
  padding-top: 10px;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
}

.sub-section {
  border: 1px solid blue;
  margin-bottom: 20px;
}

#sub-section-div {
  display: flex;
}
